---
import { Icon } from 'astro-icon/components'

const { icon, texto, classNameButton, classNameIcon } = Astro.props
---

<button
  class={`hover:bg-zinc-100 text-zinc-900 rounded-lg w-full h-8 flex text-xs items-center justify-center gap-4 ${classNameButton}`}
>
  <Icon name={icon} class={`size-5 ${classNameIcon}`} />
  {texto}
</button>
