---
import FotoPerfil from './shared/FotoPerfil.astro'
---

<li class='flex justify-between p-1 rounded-xl hover:bg-zinc-200 group cursor-pointer transition-colors duration-300'>
  <a href='/' class='flex items-center justify-center gap-2 p-2'>
    <figure
      class='bg-[radial-gradient(ellipse_at_bottom,_var(--tw-gradient-stops))] from-gray-200 via-gray-400 to-gray-600 rounded-full'
    >
      <FotoPerfil className='size-9' />
    </figure>
    <h4 class='relative rounded-full text-sm font-medium w-80 flex flex-1'>Manuel Denis Dev</h4>
  </a>
</li>
