---
import FotoPerfil from '@components/shared/FotoPerfil.astro'
import MainHeaderButton from '@components/MainHeaderButton.astro'
import Separador from '@components/shared/Separador.astro'

const dataHeaderMainButton = [
  {
    icon: 'camera',
    texto: 'Video en vivo',
    classNameButton: 'flex',
    classNameIcon: 'text-rose-600'
  },
  {
    icon: 'images-outline',
    texto: 'Foto/Video',
    classNameButton: 'flex',
    classNameIcon: 'text-green-500'
  },
  {
    icon: 'smile-outline',
    texto: 'Sentimiento/Actividad',
    classNameButton: 'hidden md:flex',
    classNameIcon: 'text-amber-400 '
  }
]
---

<header class='bg-white rounded-xl py-2 px-4 flex mx-auto max-w-xl flex-col gap-2 mt-8'>
  <div class='flex items-center mt-2 justify-between gap-2'>
    <a
      href='/'
      class='bg-[radial-gradient(ellipse_at_bottom,_var(--tw-gradient-stops))] from-gray-200 via-gray-400 to-gray-600 rounded-full flex items-center justify-center'
    >
      <FotoPerfil className='size-10' />
    </a>
    <div class='relative rounded-full shadow-sm flex flex-1'>
      <input
        type='text'
        name='price'
        id='price'
        class='block w-full rounded-full border-0 py-1.5 pl-7 pr-20 text-zinc-900 ring-1 ring-inset ring-zinc-100 bg-zinc-100 placeholder:text-zinc-900 focus:ring-1 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6 focus:outline-none'
        placeholder='¿Qué estás pensando, Manuel?'
      />
    </div>
  </div>
  <Separador />
  <div class='w-[544px] flex'>
    {
      dataHeaderMainButton.map(({ icon, texto, classNameButton, classNameIcon }) => (
        <MainHeaderButton icon={icon} texto={texto} classNameButton={classNameButton} classNameIcon={classNameIcon} />
      ))
    }
  </div>
</header>
