---
import { Icon } from 'astro-icon/components'
import AsideLeftMenuItemIcon from './AsideLeftMenuItemIcon.astro'

const dataSidebarVideoTitulos = [{ titulo: 'Videos', icono: 'video-outline' }]

const dataSidebarVideoLinks = [
  { icono: 'video-outline', titulo: 'Inicio', href: '/' },
  { icono: 'camera', titulo: 'En vivo', href: '/en-vivo' },
  { icono: 'play-broken-outline', titulo: 'Reels', href: '/reels' },
  { icono: 'clapper', titulo: 'Programas', href: '/programas' },
  { icono: 'launch-outline', titulo: 'Explorar', href: '/explorar' },
  { icono: 'bookmark', titulo: 'Videos guardados', href: '/guardados' }
]
---

<div
  class='flex flex-col flex-1 pt-8 px-2 pb-28 overflow-y-auto overflow-x-hidden scrollbar scrollbar-w-2 scrollbar-thumb-rounded-[0.1667rem] scrollbar-thumb-slate-200 scrollbar-track-gray-400 dark:scrollbar-thumb-slate-900 dark:scrollbar-track-gray-800 backdrop-blur-sm shadow-md bg-white z-20'
>
  <header class='flex justify-between px-2 mx-2 items-center'>
    <h3 class='text-xl font-extrabold'>{dataSidebarVideoTitulos[0].titulo}</h3>
    <Icon name={dataSidebarVideoTitulos[0].icono} class='size-6 text-zinc-900' />
  </header>
  <ul class='flex flex-col w-full'>
    {dataSidebarVideoLinks.map(({ icono, titulo }) => <AsideLeftMenuItemIcon icono={icono} titulo={titulo} />)}
  </ul>
</div>
